{
    email admin@plantprocessiq.com
}

plantprocessiq.com {
    encode gzip zstd

    header {
        Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data: blob:; font-src 'self' data:; connect-src 'self' https://api.plantprocessiq.com wss://api.plantprocessiq.com https://api.178.105.152.180.sslip.io wss://api.178.105.152.180.sslip.io http://api.localhost http://localhost:5063 ws://localhost:5063;"
    }

    reverse_proxy plantprocess-web:80
}
