PPIQ_PROFILE=server
PPIQ_API_HOST=0.0.0.0
PPIQ_API_PORT=5063
PPIQ_WEB_HOST=0.0.0.0
PPIQ_WEB_PORT=5173
PPIQ_WEBSITE_HOST=0.0.0.0
PPIQ_WEBSITE_PORT=5080
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=plantprocessiq
POSTGRES_USER=plantprocess
POSTGRES_Password_REMOVED_FROM_TRACKED_TEMPLATE=SET_IN_IGNORED_ENV_FILE
POSTGRES_HOST_PORT=5432
ConnectionStrings__PlantProcessDb=

ASPNETCORE_ENVIRONMENT=Production
DOTNET_ENVIRONMENT=Production
ASPNETCORE_URLS=http://0.0.0.0:5063
PLANTPROCESS_ALLOWED_ORIGINS=https://app.plantprocessiq.com,https://plantprocessiq.com
VITE_HOST=0.0.0.0
VITE_PORT=5173
VITE_PREVIEW_PORT=4173
VITE_API_BASE_URL=https://api.plantprocessiq.com
VITE_WEBSITE_API_BASE_URL=https://api.plantprocessiq.com
PPIQ_SMOKE_USERNAME=CHANGE_ME_SERVER_SMOKE_USER
PPIQ_SMOKE_Password_REMOVED_FROM_TRACKED_TEMPLATE=SET_IN_IGNORED_ENV_FILE
VITE_SMOKE_USERNAME=CHANGE_ME_SERVER_SMOKE_USER
VITE_SMOKE_Password_REMOVED_FROM_TRACKED_TEMPLATE=SET_IN_IGNORED_ENV_FILE


PPIQ_RUNTIME_TOPOLOGY=server-docker
PPIQ_MAIN_DB_MODE=docker
PPIQ_DEMO_SOURCES_MODE=docker
POSTGRES_APP_DB=plantprocessiq
POSTGRES_PASSWORD=SET_IN_IGNORED_ENV_FILE
PlantProcess__Auth__SigningKey=PLACEHOLDER_REPLACE_WITH_32_PLUS_CHAR_VALUE_IN_IGNORED_ENV
PPIQ_BOOTSTRAP_ADMIN_USER=customer-owner
PPIQ_BOOTSTRAP_ADMIN_PASSWORD=SET_IN_IGNORED_ENV_FILE
PPIQ_SMOKE_PASSWORD=SET_IN_IGNORED_ENV_FILE
