{
    email admin@plantprocessiq.com
    auto_https disable_redirects
}

# Website → http://178.105.152.180:8081
:8081 {
    reverse_proxy plantprocess-website
}
# App Frontend → http://178.105.152.180
:80 {
    reverse_proxy plantprocess-app-web
}

# API → http://178.105.152.180:5063
:5063 {
    reverse_proxy plantprocess-api:5063
}

# Jenkins → http://178.105.152.180:9090
:9090 {
    reverse_proxy jenkins:8080
}